body {
  font-family: "Nunito";
}

h2 {
  font-family: cursive;
  font-size: 18px;
  padding: 10px 20px;
  color: #000000;
}

#stefanos-giannis-chat {
  max-width: 600px;
  margin: 30px auto;
  border: 1px solid #000;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}

#chat-window {
  height: 600px;
  overflow: auto;
  background-color: rgb(172, 236, 152);
}

#output p {
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 0.5px dotted #000000;
  color: rgb(8, 8, 8);
}

#feedback p {
  color: rgb(170, 170, 170);
  padding: 14px 0px;
  margin: 0 20px;
}

#output strong {
  color: #050505;
}

label {
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

input {
  padding: 10px 20px;
  box-sizing: border-box;
  background: rgb(255, 255, 255);
  border: 0;
  display: block;
  width: 100%;
  background: #c3ecc3;
  border-bottom: 1px solid rgb(13, 187, 7);
  font-family: Nunito;
  font-size: 16px;
}

button {
  background: #089213;
  color: #fff;
  font-size: 20px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}
